In [2]:
import os
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import glob
from functools import reduce
import sys

In [3]:
path = '/common/Atlas/' 
all_files = glob.glob(os.path.join(path,"Tran*"))

In [4]:
df_list = [pd.read_csv(open(x),delimiter=',' ,comment='#') for x in all_files]

In [5]:
df_list[4].head()

,Gene ID,Gene Name,DesignElementAccession,Hybridization6,Hybridization4,Hybridization2,Hybridization5,Hybridization3,Hybridization1
0,AT1G01010,NAC001,261585_at,7.853361,7.876173,7.840612,7.925616,7.864773,7.431597
1,AT1G01030,NGA3,261568_at,5.065573,5.095298,5.529048,5.276014,5.231737,5.442021
2,AT1G01040,DCL1,261584_at,8.157500,7.945776,8.232055,7.667553,8.247371,7.949174
3,AT1G01050,PPA1,261579_at,10.792791,10.857476,10.832922,10.942151,10.751105,11.161513
4,AT1G01060,LHY,261569_at,7.027019,7.122344,7.044126,7.299201,7.103045,7.009151

In [7]:
df_mat = reduce(lambda a,b : pd.merge(a,b,on=['Gene ID','Gene Name','DesignElementAccession'],how ='outer'),df_list)

In [9]:
df_mat.head()

,Gene ID,Gene Name,DesignElementAccession,Col_BRZ_rep3,Col_mock_rep3,Col_mock_rep1,Col_mock_rep2,Col_BRZ_rep2,Col_BRZ_rep1,Sakakibara_1-2_TZ-treatment-wild_Rep2_ATH1,...,GSM566566,GSM566556,GSM566564,GSM566569,GSM566571,GSM566573,GSM566572,GSM566561,GSM566555,GSM566557
0,AT1G01010,NAC001,261585_at,6.360929,7.106075,7.065899,6.701490,6.390286,6.613429,4.911840,...,3.007622,3.106199,2.937103,2.982234,3.241456,3.292402,3.028502,3.031124,3.198189,3.007981
1,AT1G01030,NGA3,261568_at,4.293181,4.481487,4.399528,4.917085,4.403067,4.484703,5.331372,...,2.887678,2.918987,2.563552,2.469065,2.656620,2.677486,3.011644,2.699298,3.533549,2.450919
2,AT1G01040,DCL1,261584_at,7.418491,7.329794,7.252073,6.866045,7.178751,7.456707,7.693885,...,3.890903,2.812931,3.590816,4.431957,3.327704,3.683487,3.287549,4.121435,3.300236,3.676020
3,AT1G01050,PPA1,261579_at,10.145095,10.054270,9.911589,9.732922,9.940813,10.284046,10.227976,...,4.898910,4.385683,6.256884,6.518990,5.258337,5.115644,5.755671,6.867242,3.846946,5.840742
4,AT1G01060,LHY,261569_at,9.019015,8.791247,9.067491,8.676478,9.437800,9.251234,9.975793,...,2.675125,2.851609,2.717234,2.687458,2.722341,2.752851,2.504333,2.773233,2.912970,2.717234

In [10]:
df_mat.to_pickle('./auxin.exp.matrix.df.pk')

In [46]:
file_tpm_list

['/common/Atlas/Transcription profiling by array of Arabidopsis mutant for arf2 after treatment with brassinazole.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis mutant for arr10 and arr12 after treatment with t-zeatin.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis after treatment with auxin and brassinazole or auxin only.csv',
 '/common/Atlas/Transcription profiling by high throughput sequencing of Arabidopsis shoots and roots in response to cytokinin.csv',
 '/common/Atlas/Transcription profiling by array of four distinct tissues of Arabidopsis root and whole root treated with (auxin) indole-3-acetic acid against mock-treated controls.csv',
 '/common/Atlas/Transcription profiling of Arabidopsis seedlings treated with glucose and indole-3-acetic acid (auxin) to study glucose-auxin interactions.csv',
 '/common/Atlas/Transcription profiling by high throughput sequencing of Arabidopsis mutants ros1-3 and ros1-4 treated with ABA.csv',
 '/common/Atlas/Transcription profiling of Arabidopsis plants treated with indole-3-acetic acid (IAA) or IAA plus dexamethasone.csv',
 '/common/Atlas/Transcription profiling of aerial parts of Arabidopsis wild type and arr10 arr12 double mutant seedlings treated with the cytokinin trans-zeatin.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis expressing miR393 or AFB1 under the control of the 35S promoter after treatment with auxin andor flg22.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis whole embryos and endosperm after treatment with abscisic acid or paclobutrazol.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis overexpressing arr22 after treatment with t-zeatin.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis mutant for agb1 and or gpa1 after treatment with abscisic acid.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis seedlings treated with brassinolide.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis mutant for sdh1 after treatment with salicylic acid.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis Col-0, Fei-0, Bur-0, C24, Sha, Bay-0 and Bl-1 after treatment with indole-3-acetic acid.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis T87 cells after treatment with abscisic acid and dimethylthiourea.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis mutant for nph4 or arf19 or both after treatment with indole-3-acetic acid.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis stem tissues after treatment with naphthaleneacetic acid.csv',
 '/common/Atlas/Transcription profiling by high throughput sequencing of Arabidopsis seedlings treated for 2 hour with cytokinin.csv']

In [14]:
sys.path

['',
 '/usr/lib/python35.zip',
 '/usr/lib/python3.5',
 '/usr/lib/python3.5/plat-x86_64-linux-gnu',
 '/usr/lib/python3.5/lib-dynload',
 '/usr/local/lib/python3.5/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.5/dist-packages/IPython/extensions',
 '/home/plantgenomics/.ipython',
 '/common/Atlas']

In [13]:
sys.path.append('/common/Atlas')

In [17]:
path = '/common/Atlas/' 
all_files = glob.glob(os.path.join(path,"Tran*"))

In [18]:
all_files

['/common/Atlas/Transcription profiling by array of Arabidopsis mutant for arf2 after treatment with brassinazole.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis mutant for arr10 and arr12 after treatment with t-zeatin.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis after treatment with auxin and brassinazole or auxin only.csv',
 '/common/Atlas/Transcription profiling by high throughput sequencing of Arabidopsis shoots and roots in response to cytokinin.csv',
 '/common/Atlas/Transcription profiling by array of four distinct tissues of Arabidopsis root and whole root treated with (auxin) indole-3-acetic acid against mock-treated controls.csv',
 '/common/Atlas/Transcription profiling of Arabidopsis seedlings treated with glucose and indole-3-acetic acid (auxin) to study glucose-auxin interactions.csv',
 '/common/Atlas/Transcription profiling by high throughput sequencing of Arabidopsis mutants ros1-3 and ros1-4 treated with ABA.csv',
 '/common/Atlas/Transcription profiling of Arabidopsis plants treated with indole-3-acetic acid (IAA) or IAA plus dexamethasone.csv',
 '/common/Atlas/Transcription profiling of aerial parts of Arabidopsis wild type and arr10 arr12 double mutant seedlings treated with the cytokinin trans-zeatin.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis expressing miR393 or AFB1 under the control of the 35S promoter after treatment with auxin andor flg22.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis whole embryos and endosperm after treatment with abscisic acid or paclobutrazol.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis overexpressing arr22 after treatment with t-zeatin.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis mutant for agb1 and or gpa1 after treatment with abscisic acid.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis seedlings treated with brassinolide.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis mutant for sdh1 after treatment with salicylic acid.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis Col-0, Fei-0, Bur-0, C24, Sha, Bay-0 and Bl-1 after treatment with indole-3-acetic acid.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis T87 cells after treatment with abscisic acid and dimethylthiourea.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis mutant for nph4 or arf19 or both after treatment with indole-3-acetic acid.csv',
 '/common/Atlas/Transcription profiling by array of Arabidopsis stem tissues after treatment with naphthaleneacetic acid.csv',
 '/common/Atlas/Transcription profiling by high throughput sequencing of Arabidopsis seedlings treated for 2 hour with cytokinin.csv']