In [1]:
import pandas as pd
import glob
import os
path = '/root/Downloads/jupyter/Atlas/' 
all_files = glob.glob(os.path.join(path,"Tran*"))
merged = pd.concat((pd.read_csv(f,comment='#',delimiter=',') for f in all_files),axis=1)

In [122]:
merged.head()

,Gene ID,Gene Name,DesignElementAccession,Quint_2-80_BI-1-1h_Rep2_ATH1,Quint_2-41_Bur-0-30min_Rep2_ATH1,Quint_2-51_Fei-0-0h_Rep3_ATH1,Quint_2-71_Col-0-3h_Rep2_ATH1,Quint_2-12_Bay-0-3h_Rep3_ATH1,Quint_2-20_Sha-1h_Rep2_ATH1,Quint_2-3_Bay-0-0h_Rep3_ATH1,...,Hybridization1,Gene ID,Gene Name,DesignElementAccession,NASCArrays:Tab2MAGE:E-NASC-75.20.Hybridization,NASCArrays:Tab2MAGE:E-NASC-75.17.Hybridization,NASCArrays:Tab2MAGE:E-NASC-75.32.Hybridization,NASCArrays:Tab2MAGE:E-NASC-75.38.Hybridization,NASCArrays:Tab2MAGE:E-NASC-75.13.Hybridization,NASCArrays:Tab2MAGE:E-NASC-75.35.Hybridization
0,AT1G01010,NAC001,261585_at,5.608538,5.677893,5.480005,5.798785,6.955608,6.405201,6.923064,...,7.431597,AT1G01010,NAC001,261585_at,4.613952,5.015116,4.819662,4.708355,4.596021,4.911840
1,AT1G01030,NGA3,261568_at,4.529300,4.827077,4.457180,3.887700,3.919278,4.297806,4.697557,...,5.442021,AT1G01030,NGA3,261568_at,5.190178,4.941115,5.446728,5.504615,4.973644,5.331372
2,AT1G01040,DCL1,261584_at,6.498601,6.713645,6.469774,6.222814,6.389747,6.794899,6.474924,...,7.949174,AT1G01040,DCL1,261584_at,8.961531,9.036110,7.677763,7.946596,9.024197,7.693885
3,AT1G01050,PPA1,261579_at,9.996277,9.929045,9.981566,9.766975,9.994819,10.148893,10.003373,...,11.161513,AT1G01050,PPA1,261579_at,10.347619,10.345639,10.362536,10.397145,10.246724,10.227976
4,AT1G01060,LHY,261569_at,9.014491,8.850416,9.312076,7.716948,6.738384,8.309613,9.283075,...,7.009151,AT1G01060,LHY,261569_at,10.466160,10.085598,10.405960,9.905777,10.384944,9.975793

In [123]:
to_frame()

NameError: name 'to_frame' is not defined

In [124]:
import pandas as pd
from dataFrame import pandas

ImportError: No module named 'dataFrame'

In [ ]:
import pandas as pd
import glob
import os
path = '/root/Downloads/jupyter/Atlas/' 
all_files = glob.glob(os.path.join(path,"Tran*"))
masterpiece=pd.merge(((pd.read_csv(f,comment='#',delimiter=',') for f in all_files)))

In [ ]:
pd.merge(, how= 'left' ,on=['Gene ID','Gene Name','DesignElementAccession'])

In [ ]:
import numpy as np

In [ ]:
from functools import reduce

In [ ]:
Transcription_profiling_by_array_of_Arabidopsis_Col_0,_Fei_0,_Bur_0,_C24,_Sha,_Bay_0_and_Bl_1_after_treatment_with_indole_3_acetic_acid.head()

In [165]:
#for k, v  in all_dfs.items():
 #           exec("%s = pd.read_csv(base_url + '%s',delimiter=',' ,comment='#')"  %(k, v), globals())

In [7]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from functools import reduce

In [37]:
file_tpm_list= glob.glob('./Atlas/*.csv')
df_list = [pd.read_csv(x,delimiter=',' ,comment='#') for x in file_tpm_list]

In [38]:
file_tpm_list[6]

'./Atlas/Transcription profiling by array of Arabidopsis mutant for arr10 and arr12 after treatment with t-zeatin.csv'

In [39]:
df_list[6].head()

,Gene ID,Gene Name,DesignElementAccession,Sakakibara_1-2_TZ-treatment-wild_Rep2_ATH1,Sakakibara_1-9_DMSO-treatment-wild_Rep3_ATH1,Sakakibara_1-7_DMSO-treatment-wild_Rep1_ATH1,Sakakibara_1-1_TZ-treatment-wild_Rep1_ATH1,Sakakibara_1-8_DMSO-treatment-wild_Rep2_ATH1,Sakakibara_1-3_TZ-treatment-wild_Rep3_ATH1
0,AT1G01010,NAC001,261585_at,4.911840,4.613952,4.596021,4.819662,5.015116,4.708355
1,AT1G01030,NGA3,261568_at,5.331372,5.190178,4.973644,5.446728,4.941115,5.504615
2,AT1G01040,DCL1,261584_at,7.693885,8.961531,9.024197,7.677763,9.036110,7.946596
3,AT1G01050,PPA1,261579_at,10.227976,10.347619,10.246724,10.362536,10.345639,10.397145
4,AT1G01060,LHY,261569_at,9.975793,10.466160,10.384944,10.405960,10.085598,9.905777

In [40]:
df_mat = reduce(lambda a,b : pd.merge(a,b,on="Gene ID",how='outer'),df_list)

MemoryError:

In [235]:
import numpy as np
import pandas as pd 
import os 
base_url = os.path.expanduser('/root/Downloads/jupyter/Atlas/') 
# create a dict of strings with pd name as key and filename as value 
files_dict = {} 
files = os.listdir(base_url) 
dong={}
for f in files: 
    if f.endswith('.csv'): 
        key = f[:-len('.csv')]
        key = key.replace(",", "_")
        key = key.replace("(", "_")
        key = key.replace(")", "_")
        key = key.replace(" ", "_") 
        key = key.replace("-", "_") 
        files_dict[key] = f 
        all_dfs = files_dict
        for k, v  in all_dfs.items():
            exec("%s = pd.read_csv(base_url + '%s',delimiter=',' ,comment='#')"  %(k, v), globals())

In [234]:
Transcription_profiling_by_array_of_Arabidopsis_Col_0__Fei_0__Bur_0__C24__Sha__Bay_0_and_Bl_1_after_treatment_with_indole_3_acetic_acid['Gene ID']

0        AT1G01010
1        AT1G01030
2        AT1G01040
3        AT1G01050
4        AT1G01060
5        AT1G01070
6        AT1G01080
7        AT1G01090
8        AT1G01100
9        AT1G01110
10       AT1G01120
11       AT1G01130
12       AT1G01140
13       AT1G01150
14       AT1G01160
15       AT1G01170
16       AT1G01190
17       AT1G01200
18       AT1G01220
19       AT1G01225
20       AT1G01230
21       AT1G01240
22       AT1G01250
23       AT1G01260
24       AT1G01280
25       AT1G01290
26       AT1G01300
27       AT1G01310
28       AT1G01320
29       AT1G01320
           ...
20569    ATMG00750
20570    ATMG00760
20571    ATMG00770
20572    ATMG00810
20573    ATMG00820
20574    ATMG00830
20575    ATMG00840
20576    ATMG00850
20577    ATMG00860
20578    ATMG00870
20579    ATMG00880
20580    ATMG00940
20581    ATMG01000
20582    ATMG01060
20583    ATMG01100
20584    ATMG01130
20585    ATMG01180
20586    ATMG01200
20587    ATMG01210
20588    ATMG01230
20589    ATMG01240
20590    ATMG01250
20591    ATMG01260
20592    ATMG01290
20593    ATMG01330
20594    ATMG01350
20595    ATMG01360
20596    ATMG01370
20597    ATMG01400
20598    ATMG01410
Name: Gene ID, Length: 20599, dtype: object

In [228]:
path = '/root/Downloads/jupyter/Atlas/'
file_tpm_list = glob.glob((os.path.join(path,"Tran*")))

#file_tpm_list
columns=['Gene_ID']
df_list = [pd.read_csv(x,delimiter=',' ,comment='#')[['Gene_ID']] for x in file_tpm_list]

#df_mat = reduce(lambda a,b : pd.merge(a,b,on="Gene ID",how='left'),df_list)

KeyError: "['Gene_ID'] not in index"

In [229]:
file_tpm_list

['/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis Col-0, Fei-0, Bur-0, C24, Sha, Bay-0 and Bl-1 after treatment with indole-3-acetic acid.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis T87 cells after treatment with abscisic acid and dimethylthiourea.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis after treatment with auxin and brassinazole or auxin only.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis expressing PcGA2ox1 after treatment with gibberellin.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis expressing miR393 or AFB1 under the control of the 35S promoter after treatment with auxin andor flg22.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis mutant for agb1 and or gpa1 after treatment with abscisic acid.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis mutant for arf2 after treatment with brassinazole.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis mutant for arr10 and arr12 after treatment with t-zeatin.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis mutant for nph4 or arf19 or both after treatment with indole-3-acetic acid.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis mutant for sdh1 after treatment with salicylic acid.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis overexpressing arr22 after treatment with t-zeatin.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis seedlings treated with brassinolide.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis stem tissues after treatment with naphthaleneacetic acid.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of Arabidopsis whole embryos and endosperm after treatment with abscisic acid or paclobutrazol.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by array of four distinct tissues of Arabidopsis root and whole root treated with (auxin) indole-3-acetic acid against mock-treated controls.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by high throughput sequencing of Arabidopsis mutants ros1-3 and ros1-4 treated with ABA.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by high throughput sequencing of Arabidopsis seedlings treated for 2 hour with cytokinin.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling by high throughput sequencing of Arabidopsis shoots and roots in response to cytokinin.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling of Arabidopsis plants treated with indole-3-acetic acid (IAA) or IAA plus dexamethasone.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling of Arabidopsis seedlings treated with glucose and indole-3-acetic acid (auxin) to study glucose-auxin interactions.csv',
 '/root/Downloads/jupyter/Atlas/Transcription profiling of aerial parts of Arabidopsis wild type and arr10 arr12 double mutant seedlings treated with the cytokinin trans-zeatin.csv']

In [204]:
ab=print(k)

Transcription_profiling_by_array_of_Arabidopsis_mutant_for_sdh1_after_treatment_with_salicylic_acid

TypeError: ab() takes 0 positional arguments but 1 was given

In [ ]:
for x in dong:
    woo=reduce(lambda a,b : pd.merge(a,b,on="Gene ID",how='left'),dong[x])

In [ ]:
dong[x]

In [ ]:
print(x)

In [ ]:
dong(Transcription_profiling_by_array_of_Arabidopsis_Col_0__Fei_0__Bur_0__C24__Sha__Bay_0_and_Bl_1_after_treatment_with_indole_3_acetic_acid)

In [ ]:
a=files_dict.keys()

In [ ]:
ab=list(a)

In [ ]:
ab[1:].to_frame()

In [ ]:
ab[1]=a

In [ ]:
ab[2]=b

In [ ]:
ab[1]

In [ ]:
a=Transcription_profiling_by_array_of_Arabidopsis_whole_embryos_and_endosperm_after_treatment_with_abscisic_acid_or_paclobutrazol

In [ ]:
ab[0:]

In [ ]:
ab[1]

In [ ]:
Transcription_profiling_by_array_of_Arabidopsis_mutant_for_sdh1_after_treatment_with_salicylic_acid.head()

In [ ]:
Transcription_profiling_by_array_of_Arabidopsis_mutant_for_nph4_or_arf19_or_both_after_treatment_with_indole_3_acetic_acid.head()

In [ ]:
dfa

In [ ]:
pd.merge(, how= 'left' ,on=['Gene ID','Gene Name','DesignElementAccession'])