In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('Transcription profiling by array of Arabidopsis expressing miR393 or AFB1 under the control of the 35S promoter after treatment with auxin andor flg22.csv')

In [3]:
df.head()

,.,..1,..2,..3,..4,..5,..6,..7,..8,..9,..10,..11
0,#age,5(week),.,.,.,.,.,.,.,.,.,.
1,#tissue,leaf,.,.,.,.,.,.,.,.,.,.
2,#compound,.,.,1-naphthylacetic acid,1-naphthylacetic acid,none,none,1-naphthylacetic acid,1-naphthylacetic acid,none,1-naphthylacetic acid,1-naphthylacetic acid
3,Gene ID,Gene Name,DesignElementAccession,GSM435954,GSM435939,GSM435933,GSM435948,GSM435940,GSM435938,GSM435963,GSM435969,GSM435968
4,AT1G01010,NAC001,261585_at,7.004144421,7.802045446,8.126985489,8.165217585,8.337848939,8.113142172,7.759874663,7.433101564,7.721943329

In [26]:
df1=pd.read_csv('Transcription profiling by array of Arabidopsis expressing miR393 or AFB1 under the control of the 35S promoter after treatment with auxin andor flg22.csv',comment='#',skiprows=1)

In [15]:
df1.head()

,Gene ID,Gene Name,DesignElementAccession,GSM435954,GSM435939,GSM435933,GSM435948,GSM435940,GSM435938,GSM435963,GSM435969,GSM435968
0,AT1G01010,NAC001,261585_at,7.004144,7.802045,8.126985,8.165218,8.337849,8.113142,7.759875,7.433102,7.721943
1,AT1G01030,NGA3,261568_at,5.042389,4.789634,5.347824,6.117440,5.552107,5.097536,5.056807,5.006813,4.909746
2,AT1G01040,DCL1,261584_at,6.866617,6.938583,6.805310,8.193419,6.251746,7.014768,6.882764,7.348489,6.947212
3,AT1G01050,PPA1,261579_at,10.210871,10.583121,10.976472,10.692355,10.404262,10.820254,10.526928,10.511599,10.577716
4,AT1G01060,LHY,261569_at,8.339812,9.499185,11.826006,8.900511,11.186255,11.308510,9.852807,7.739560,9.842399

In [6]:
df.at[3,'..3'],df.at[0,'..1'],df.at[1,'..1'],df.at[2,'..3']

('GSM435954', '5(week)', 'leaf', '1-naphthylacetic acid')

In [16]:
df.columns

Index(['.', '..1', '..2', '..3', '..4', '..5', '..6', '..7', '..8', '..9',
       '..10', '..11'],
      dtype='object')

In [197]:
a=abc[3:]

In [10]:
col={}
for x in df.columns:
    key= df.at[3,x]
    values=df.at[2,x]
    col[key]=values
    print(key,values)

Gene ID #compound
Gene Name .
DesignElementAccession .
GSM435954 1-naphthylacetic acid
GSM435939 1-naphthylacetic acid
GSM435933 none
GSM435948 none
GSM435940 1-naphthylacetic acid
GSM435938 1-naphthylacetic acid
GSM435963 none
GSM435969 1-naphthylacetic acid
GSM435968 1-naphthylacetic acid

In [10]:
col

{'DesignElementAccession': '.',
 'GSM435933': 'none',
 'GSM435938': '1-naphthylacetic acid',
 'GSM435939': '1-naphthylacetic acid',
 'GSM435940': '1-naphthylacetic acid',
 'GSM435948': 'none',
 'GSM435954': '1-naphthylacetic acid',
 'GSM435963': 'none',
 'GSM435968': '1-naphthylacetic acid',
 'GSM435969': '1-naphthylacetic acid',
 'Gene ID': '#compound',
 'Gene Name': '.'}

In [28]:
p=df.at[0,'..1']
c=df.at[1,'..1']

for k in col:
    #exec("df1['%s;%s;%s;%s'] = df1['%s']"% (k,p,c,col[k],k))
    df1['%s;%s;%s;%s'%(k,p,c,col[k])] = df1['%s'%k]

In [29]:
df1.head()

,Gene ID,Gene Name,DesignElementAccession,GSM435954,GSM435939,GSM435933,GSM435948,GSM435940,GSM435938,GSM435963,...,GSM435963;5(week);leaf;none,DesignElementAccession;5(week);leaf;.,GSM435948;5(week);leaf;none,GSM435969;5(week);leaf;1-naphthylacetic acid,GSM435933;5(week);leaf;none,GSM435940;5(week);leaf;1-naphthylacetic acid,GSM435968;5(week);leaf;1-naphthylacetic acid,GSM435938;5(week);leaf;1-naphthylacetic acid,Gene ID;5(week);leaf;#compound,GSM435954;5(week);leaf;1-naphthylacetic acid
0,AT1G01010,NAC001,261585_at,7.004144,7.802045,8.126985,8.165218,8.337849,8.113142,7.759875,...,7.759875,261585_at,8.165218,7.433102,8.126985,8.337849,7.721943,8.113142,AT1G01010,7.004144
1,AT1G01030,NGA3,261568_at,5.042389,4.789634,5.347824,6.117440,5.552107,5.097536,5.056807,...,5.056807,261568_at,6.117440,5.006813,5.347824,5.552107,4.909746,5.097536,AT1G01030,5.042389
2,AT1G01040,DCL1,261584_at,6.866617,6.938583,6.805310,8.193419,6.251746,7.014768,6.882764,...,6.882764,261584_at,8.193419,7.348489,6.805310,6.251746,6.947212,7.014768,AT1G01040,6.866617
3,AT1G01050,PPA1,261579_at,10.210871,10.583121,10.976472,10.692355,10.404262,10.820254,10.526928,...,10.526928,261579_at,10.692355,10.511599,10.976472,10.404262,10.577716,10.820254,AT1G01050,10.210871
4,AT1G01060,LHY,261569_at,8.339812,9.499185,11.826006,8.900511,11.186255,11.308510,9.852807,...,9.852807,261569_at,8.900511,7.739560,11.826006,11.186255,9.842399,11.308510,AT1G01060,8.339812

In [9]:
df1['GSM435940;5(week);leaf;1-naphthylacetic acid']

0         8.337849
1         5.552107
2         6.251746
3        10.404262
4        11.186255
5         6.111227
6         8.900753
7        11.282831
8        12.325136
9         4.431137
10       10.166767
11        5.591743
12        9.822468
13        3.548141
14        8.140093
15       10.897016
16        4.866379
17        5.379527
18        6.853911
19        5.620616
20       11.222627
21        9.321020
22        6.068958
23        9.053836
24        3.968746
25        7.236792
26        7.779470
27        3.848177
28        8.415759
29        5.434222
           ...
20569     4.248847
20570     5.285090
20571     5.547282
20572     5.592071
20573     3.650166
20574     8.147890
20575     6.250407
20576     4.283750
20577     4.973465
20578     4.650602
20579     4.783989
20580     5.081963
20581     7.643882
20582     6.788418
20583     5.912363
20584     7.488875
20585     6.720204
20586     4.102726
20587     7.926294
20588     5.481493
20589     5.769906
20590     5.071442
20591     5.676003
20592     5.535550
20593     4.390798
20594     5.913053
20595     9.275081
20596     9.283843
20597     4.159760
20598     6.190185
Name: GSM435940;5(week);leaf;1-naphthylacetic acid, Length: 20599, dtype: float64

In [38]:
bcd=[df.at[2,'%s'%x] for x in df.columns]

In [10]:
for f in files: 
    if f.endswith('.tsv'): 
        key = f[:-len('.tsv')] 
        key = key.replace(" ", "_") 
        key = key.replace("-", "_") 
        files_dict[key] = f 
        for k, v in files_dict.items():
            exec("%s = pd.read_csv(base_url + '%s',sep='\t')" % (k, v), globals())

NameError: name 'files' is not defined

In [165]:
from functools import reduce

In [14]:
p=df.at[0,'..1']
c=df.at[1,'..1']
["df1['%s;%s;%s;%s'] = df1['%s']"% (k,p,c,col[k],k) for k in col]

["df1['DesignElementAccession;5(week);leaf;.'] = df1['DesignElementAccession']",
 "df1['GSM435963;5(week);leaf;none'] = df1['GSM435963']",
 "df1['GSM435948;5(week);leaf;none'] = df1['GSM435948']",
 "df1['GSM435933;5(week);leaf;none'] = df1['GSM435933']",
 "df1['GSM435938;5(week);leaf;1-naphthylacetic acid'] = df1['GSM435938']",
 "df1['GSM435939;5(week);leaf;1-naphthylacetic acid'] = df1['GSM435939']",
 "df1['GSM435940;5(week);leaf;1-naphthylacetic acid'] = df1['GSM435940']",
 "df1['Gene ID;5(week);leaf;#compound'] = df1['Gene ID']",
 "df1['GSM435968;5(week);leaf;1-naphthylacetic acid'] = df1['GSM435968']",
 "df1['GSM435969;5(week);leaf;1-naphthylacetic acid'] = df1['GSM435969']",
 "df1['GSM435954;5(week);leaf;1-naphthylacetic acid'] = df1['GSM435954']",
 "df1['Gene Name;5(week);leaf;.'] = df1['Gene Name']"]

In [19]:
abc

['none', '1-naphthylacetic acid']

In [6]:
abc.append('none')

In [7]:
abc.append('1-naphthylacetic acid')

In [24]:
p=df.at[0,'..1']
c=df.at[1,'..1']
for k in col:
    exec("df2['%s;%s;%s;%s'] = df1['%s']"% (k,p,c,col[k],k),globals())
    print(globals())#값을 리턴. 리턴값 리스트로 만들기

NameError: name 'df1' is not defined

In [34]:
p=df.at[0,'..1']
c=df.at[1,'..1']
what_the=[exec("df1['%s;%s;%s;%s'] = df1['%s']"% (k,p,c,col[k],k) for k in col)]

TypeError: eval() arg 1 must be a string, bytes or code object

In [66]:
globals()["df1['GSM435948;5(week);leaf;none'] = df1['GSM435948']"]

KeyError: "df1['GSM435948;5(week);leaf;none'] = df1['GSM435948']"

In [49]:
xxxx

[None]

In [30]:
what_the

[None, None, None, None, None, None, None, None, None, None, None, None]

In [ ]:
p=df.at[0,'..1']
c=df.at[1,'..1']
name_list=["%s;%s;%s;%s"% (k,p,c,col[k]) for k in abc]

In [26]:
df1['GSM435954;5(week);leaf;1-naphthylacetic acid']

0         7.004144
1         5.042389
2         6.866617
3        10.210871
4         8.339812
5         7.677254
6         9.451029
7        11.512369
8        12.529352
9         4.663078
10        7.589900
11        5.326378
12       10.013691
13        3.527284
14        8.570607
15       11.928504
16        4.655258
17        5.170216
18        7.766084
19        5.283278
20       11.288387
21       10.881808
22        5.756881
23        7.408737
24        3.899902
25        8.191440
26        8.182098
27        3.690005
28        9.089338
29        5.441153
           ...
20569     4.164324
20570     4.918350
20571     5.173453
20572     5.317530
20573     3.461672
20574     7.997996
20575     6.015622
20576     4.052800
20577     5.013216
20578     4.313470
20579     4.656203
20580     5.040531
20581     7.032495
20582     6.181338
20583     5.672712
20584     6.742005
20585     6.004003
20586     3.820304
20587     7.248599
20588     5.065815
20589     5.583900
20590     4.872085
20591     5.473974
20592     5.346657
20593     4.947110
20594     5.818068
20595     8.735355
20596     8.617316
20597     4.398791
20598     5.495326
Name: GSM435954;5(week);leaf;1-naphthylacetic acid, Length: 20599, dtype: float64

In [25]:
[df1['GSM435948;5(week);leaf;%s'%x]  for x in abc] #

KeyError: 'GSM435948;5(week);leaf;1-naphthylacetic acid'

In [223]:
ab[3:]

["df1['GSM435938;5(week);leaf;1-naphthylacetic acid'] = df1['GSM435938']",
 "df1['GSM435948;5(week);leaf;none'] = df1['GSM435948']",
 "df1['GSM435933;5(week);leaf;none'] = df1['GSM435933']",
 "df1['Gene ID;5(week);leaf;#compound'] = df1['Gene ID']",
 "df1['GSM435968;5(week);leaf;1-naphthylacetic acid'] = df1['GSM435968']",
 "df1['DesignElementAccession;5(week);leaf;.'] = df1['DesignElementAccession']",
 "df1['GSM435963;5(week);leaf;none'] = df1['GSM435963']",
 "df1['GSM435939;5(week);leaf;1-naphthylacetic acid'] = df1['GSM435939']",
 "df1['GSM435940;5(week);leaf;1-naphthylacetic acid'] = df1['GSM435940']"]

In [205]:
df1['GSM435940;5(week);leaf;1-naphthylacetic acid'] = df1['GSM435940']

In [206]:
df1['GSM435940;5(week);leaf;1-naphthylacetic acid']

0         8.337849
1         5.552107
2         6.251746
3        10.404262
4        11.186255
5         6.111227
6         8.900753
7        11.282831
8        12.325136
9         4.431137
10       10.166767
11        5.591743
12        9.822468
13        3.548141
14        8.140093
15       10.897016
16        4.866379
17        5.379527
18        6.853911
19        5.620616
20       11.222627
21        9.321020
22        6.068958
23        9.053836
24        3.968746
25        7.236792
26        7.779470
27        3.848177
28        8.415759
29        5.434222
           ...
20569     4.248847
20570     5.285090
20571     5.547282
20572     5.592071
20573     3.650166
20574     8.147890
20575     6.250407
20576     4.283750
20577     4.973465
20578     4.650602
20579     4.783989
20580     5.081963
20581     7.643882
20582     6.788418
20583     5.912363
20584     7.488875
20585     6.720204
20586     4.102726
20587     7.926294
20588     5.481493
20589     5.769906
20590     5.071442
20591     5.676003
20592     5.535550
20593     4.390798
20594     5.913053
20595     9.275081
20596     9.283843
20597     4.159760
20598     6.190185
Name: GSM435940;5(week);leaf;1-naphthylacetic acid, Length: 20599, dtype: float64

In [202]:
p=df.at[0,'..1']
c=df.at[1,'..1']
name_list=["%s;%s;%s;%s"% (k,p,c,col[k]) for k in abc]

In [195]:
abd=list(name_list[3:])

In [196]:
abd

['GSM435954;5(week);leaf;1-naphthylacetic acid',
 'GSM435939;5(week);leaf;1-naphthylacetic acid',
 'GSM435933;5(week);leaf;none',
 'GSM435948;5(week);leaf;none',
 'GSM435940;5(week);leaf;1-naphthylacetic acid',
 'GSM435938;5(week);leaf;1-naphthylacetic acid',
 'GSM435963;5(week);leaf;none',
 'GSM435969;5(week);leaf;1-naphthylacetic acid',
 'GSM435968;5(week);leaf;1-naphthylacetic acid']

In [201]:
[df1['%s'%x]= df[a] for x in abd]

SyntaxError: invalid syntax (<ipython-input-201-a6c0e2e69d66>, line 1)

In [171]:
df_mat = reduce(lambda a,b : pd.merge(a,b,how='outer'),df_list)

ValueError: can not merge DataFrame with instance of type <class 'str'>

In [17]:
file_dc = {}

In [18]:
for x in col:
    file_dc={x:[]}
    print (file_dc)

{'Gene Name': []}
{'GSM435939': []}
{'GSM435963': []}
{'DesignElementAccession': []}
{'GSM435948': []}
{'GSM435969': []}
{'GSM435933': []}
{'GSM435940': []}
{'GSM435968': []}
{'GSM435938': []}
{'Gene ID': []}
{'GSM435954': []}

In [22]:
file_dc['GSM435954'].append(123)

In [23]:
file_dc['GSM435954']

[123]

In [ ]:
df2 = DataFrame({"c1":[1,2,3], "c2":[11,22,33], "c3":[111,222,333]})

+for 문 2개 이용해서 내일 해보자.